<div class="wrapper">
    <div class="container">
        <div class="row">
            <div class="module module-login span4 offset4">
                <form class="form-vertical" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                    <div class="module-head" >
                        <h3>Sign In</h3>
                    </div>
                    <div class="module-body">
                        <div class="control-group">
                            <div class="controls row-fluid">
                             
                                <input class="span12" type="text" name="email" [(ngModel)]="userdata_obj.email" formControlName="email"   placeholder="Email"  [ngClass]="{ 'is-invalid': Is_submitted && ValidateFields.email.errors }"/>
                                  <div *ngIf="Is_submitted && ValidateFields.email.errors" class="invalid-feedback">
                            <div *ngIf="ValidateFields.email.errors.required">Email is required</div>
                            <div *ngIf="ValidateFields.email.errors.email">Email must be a valid email address</div>
                        </div>       
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="controls row-fluid">
                                
                                <input class="span12" type="password" [(ngModel)]="userdata_obj.password" formControlName="password"  name="password"  placeholder="Password" [ngClass]="{ 'is-invalid': Is_submitted && ValidateFields.password.errors }" >
                              <div *ngIf="Is_submitted && ValidateFields.password.errors" class="invalid-feedback">
                            <div *ngIf="ValidateFields.password.errors.required">Password is required</div>
                            <div *ngIf="ValidateFields.password.errors.minlength">Password must be at least 6 characters</div>
                        </div>
                            </div>
                        </div>
                    </div>
                    <div class="module-foot">
                        <div class="control-group">
                            <div class="controls clearfix">
                                <button type="submit" class="btn btn-primary pull-right">Login</button>
                                <label class="checkbox">
                                    <input type="checkbox"> Remember me
                                </label>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div><!--/.wrapper-->
